.expanded-modal {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.expanded-modal__backdrop {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
}

.expanded-modal__image {

}