.gif-grid-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1);
  transition: transform 0.1s ease-in;

  .gif-grid-item__loader,
  .gif-grid-item__loader:after {
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }

  .gif-grid-item__loader {
    margin: -25px -25px;
    top: 50%;
    right: 50%;
    font-size: 10px;
    position: absolute;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid #ffffff;
    will-change: transform;
    transform: translateZ(0);
    animation: loadspinner 1.1s infinite linear;
    z-index: -1;
  }

  .gif-grid-item__inner {
    position: relative;
    min-height: 50px;
  }

  &:hover {
    transform: scale(1.1);
    position: relative;
    z-index: 1;

    .gif-grid-item__image {
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
    }
  }
}

.gif-grid-item__image {
  width: 100%;
}

.gif-grid-row {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

@keyframes loadspinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}