// Globals
@import 'global/grid';

@import 'containers/App';

@import 'components/GifGridItem';
@import 'components/Search';

body {
  background-color: #3e3e3e;
  margin: 0;
  font-family: 'Helvetica', Arial, sans-serif;
}